:root {
  font-family: 'Harry P', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333333;
  background-color: #f9e9d4;
}

.container {
  text-align: center; /* Centrer le contenu horizontalement */
  margin-top: 20px; /* Ajouter un espace au-dessus du conteneur */
}

a {
  font-weight: 500;
  color: #862e18;
  text-decoration: none;
}
a:hover {
  color: #ad4731;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #862e18;
  margin-bottom: 20px; /* Ajouter un espacement en bas du titre */
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'Harry P', sans-serif;
  background-color: #ad4731;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
  color: #ffffff;
}
button:hover {
  background-color: #862e18;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f9e9d4;
    background-color: #333333;
  }
  a:hover {
    color: #ffcc99;
  }
  button {
    background-color: #ffcc99;
    color: #333333;
  }
  button:hover {
    background-color: #ffc266;
  }


  nav {
    display: flex; /* Utiliser flexbox pour aligner les liens */
    justify-content: center; /* Centrer les liens horizontalement */
    flex-wrap: wrap; /* Permettre le retour à la ligne des liens si nécessaire */
  }

  router-link {
    margin: 10px; /* Ajouter de l'espace entre les liens */
    font-size: 1.2em; /* Augmenter la taille du texte des liens */
    color: #862e18; /* Changer la couleur du texte des liens */
    text-decoration: none; /* Supprimer le soulignement des liens */
  }

  router-link:hover {
    color: #ad4731; /* Changer la couleur du texte au survol */
  }
}
